@model GiftViewModel

<form asp-controller="Gift" asp-action="Edit" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button>Edit</button>
    <a asp-controller="Gift" asp-action="Index">Cancel</a>
</form>