@model GroupViewModel

<form asp-controller="Group" asp-action="Create" method="post">
    <div>
        <label asp-for="Group"></label>: <input type="text" asp-for="Group" />
        <span asp-validation-for="Group"></span>
    </div>
 
   
    <button>Create</button>
</form>