@model List<GroupViewModel>

@{int counter = 0;}

@foreach(var Group in Model) {
    <section>
        @Group.Group  <a asp-controller="Group" asp-action="Edit" asp-route-id=@counter>Edit</a>
        <form asp-controller="Group" asp-action="Delete" asp-route-id=@counter method="post"><button>X</button></form>
        @{counter++;}
    </section>
}
<a asp-controller="Group" asp-action="Create">Create</a>