@model Event

<form asp-controller="Events" asp-action="Edit" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btn mr-6">Update</button>
    <a class="btn bg-red-400 inline-block"asp-controller="Events" asp-action="Index">Cancel</a>
</form>