@model List<EventViewModel>

@foreach(var eventViewModel in Model) {
    <section>
        @eventViewModel.Title - @eventViewModel.Date <a asp-controller="Events" asp-action="Edit" asp-route-id=@eventViewModel.Id>Edit</a><form asp-action="Delete" asp-route-id=@eventViewModel.Id method="post"><button>X</button></form>
    </section>
}
<a asp-controller="Events" asp-action="Create">Create</a>