@model EventViewModel

<form asp-controller="Events" asp-action="Edit" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="border border-blue-800 rounded-xl py-2 px-4 bg-blue-200 leading-10 mr-6">Update</button>
    <a class="border border-blue-800 rounded-xl py-2 px-4 bg-blue-200 inline-block leading-10"asp-controller="Events" asp-action="Index">Cancel</a>
</form>